
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Présentation Angular</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="reveal.js/css/reveal.css">
    <link rel="stylesheet" href="reveal.js/css/theme/black.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="reveal.js/lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'reveal.js/css/print/pdf.css' : 'reveal.js/css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h1>Formulaires</h1>
          <p>
            <a href="https://docs.angularjs.org/guide/forms">https://docs.angularjs.org/guide/forms</a>
          </p>
        </section>

        <section>
          <h2>Directives utilisées</h2>
          <p>
            Les principales directives utilisées sont :
          </p>
          <ul>
            <li>form, input, select, button...</li>
            <li>ng-model : pour lier les contrôles au modèle</li>
            <li>ng-click : pour définir le comportement d'un bouton</li>
            <li>ng-submit : pour implémenter la soumission d'un formulaire</li>
          </ul>
        </section>

        <section>
          <h2>Formulaire simple</h2>
          <pre><code class="hljs" data-trim>
&lt;div ng-controller=&quot;ExampleController&quot;&gt;
  &lt;form novalidate class=&quot;simple-form&quot;&gt;
    Name: &lt;input type=&quot;text&quot; ng-model=&quot;user.name&quot; /&gt;&lt;br /&gt;
    E-mail: &lt;input type=&quot;email&quot; ng-model=&quot;user.email&quot; /&gt;&lt;br /&gt;
    Gender: &lt;input type=&quot;radio&quot; ng-model=&quot;user.gender&quot; value=&quot;male&quot; /&gt;male
    &lt;input type=&quot;radio&quot; ng-model=&quot;user.gender&quot; value=&quot;female&quot; /&gt;female&lt;br /&gt;
    &lt;input type=&quot;submit&quot; ng-click=&quot;update(user)&quot; value=&quot;Save&quot; /&gt;
  &lt;/form&gt;
  &lt;pre&gt;user = {{user | json}}&lt;/pre&gt;
&lt;/div&gt;
&lt;script&gt;
angular.module('formExample', [])
  .controller('ExampleController', ['$scope', function($scope) {
    $scope.user = {};
    $scope.update = function(user) {
      $scope.master = angular.copy(user);
    };
  }]);
&lt;/script&gt;
          </code></pre>
        </section>

        <section>
          <h2>Formulaires et classes CSS</h2>
          <p>
            <a href="https://docs.angularjs.org/guide/forms#using-css-classes">
              https://docs.angularjs.org/guide/forms#using-css-classes
            </a>
          </p>
        </section>

        <section>
          <h2>Accès aux états d'un formulaire</h2>
          <p>
            Le formulaire et les contrôles doivent avoir l'attibut <code>name</code> pour être exposés dans le <code>$scope</code>.
          </p>
          <pre><code class="hljs" data-trim>
&lt;form name=&quot;form&quot;&gt;
  Nom: &lt;input type=&quot;text&quot; ng-model=&quot;user.name&quot; name=&quot;nom&quot; /&gt;&lt;br /&gt;
&lt;/form&gt;
          </code></pre>
          <pre><code class="hljs" data-trim>
$scope.form.$valid
$scope.form.nom.$valid
          </code></pre>
        </section>

        <section>
          <h2>Etat d'un formulaire</h2>
          <p>
            Propriétés d'un formulaire (type <a href="https://docs.angularjs.org/api/ng/type/form.FormController">FormController</a>) :
          </p>
          <ul>
            <li>$pristine, $dirty : l'utilisateur n'a pas encore touché au formulaire</li>
            <li>$valid, $invalid</li>
            <li>$pending : le formulaire ou bien un contrôle du formulaire est en cours de validation</li>
            <li>$submitted : le formulaire a déjà été soumis</li>
            <li>$error</li>
          </ul>
        </section>

        <section>
          <h2>Etat d'un contrôle</h2>
          <p>
            Propriétés d'un contrôle (type <a href="https://docs.angularjs.org/api/ng/type/ngModel.NgModelController">NgModelController</a>) :
          </p>
          <ul>
            <li>$pristine, $dirty : l'utilisateur n'a pas encore touché au contrôle</li>
            <li>$valid, $invalid</li>
            <li>$submitted : le formulaire a déjà été soumis</li>
            <li>$error : objet</li>
            <li>$pending : objet</li>
          </ul>
        </section>

      </div>

    </div>

    <script src="reveal.js/lib/js/head.min.js"></script>
    <script src="reveal.js/js/reveal.js"></script>

    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        lideNumber: true,
        slideNumber: 'c/t',

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'reveal.js/plugin/zoom-js/zoom.js', async: true },
          { src: 'reveal.js/plugin/notes/notes.js', async: true }
        ]
      });

    </script>

  </body>
</html>
